@model PeopleBotTrust.Models.EmployeeModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Add New Employee</h3>
    </div>
    <div class="panel-body">
        <form action="/Employee/Create" method="post" enctype="multipart/form-data" autocomplete="off" onsubmit="return ValidateEmployeeCreate()">

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    <label for="FirstName" class="control-label col-md-2">FirstName</label>
                    <div class="col-md-10">
                        <input name="FirstName" id="FirstName" value="@(Model.FirstName)" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                        <label for="LastName" class="control-label col-md-2">LastName</label>
                        <div class="col-md-10">
                            <input name="LastName" id="LastName" value="@(Model.LastName)" class="form-control" />
                        </div>
                </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="Category" class="control-label col-md-2">Category</label>
                            <div class="col-md-10">
                                @*<input name="Category" id="Category" value="@(Model.Category)" class="form-control" />*@
                                <select name="Category" id="Category" class="form-control">
                                    <option value=""> --Select--</</option>

                                    <option>Full Time</option>
                                    @*@foreach (var item in Model.CategoryList)
                        {
                            <option value="@(item.Id)">@(item.Name) </option>
                        }*@

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Department" class="control-label col-md-2">Department</label>
                            <div class="col-md-10">
                                <select name="Department" id="Department" class="form-control">
                                    <option value="">-- Select --</option>
                                    @if (Model.DepartmentList != null) {

                                        foreach (var item in Model.DepartmentList)
                                        {
                                            <option value="@(item.Id)">@(item.Name)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div id="" class="form-group" xyz="">
                            @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input name="Salary" id="Salary" value="@(Model.Salary)" class="form-control" />

                            </div>
                        </div>

                        @*<div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Title" id="Title" value="@(Model.Title)" class="form-control" />

                    </div>
            </div>*@
                        @*<div class="form-group">

                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <label>
                    <input type="radio" name="samename" value="1"  />Yes
                </label>
                <label>
                    <input type="radio" name="samename" value="0" checked />No
                </label>
            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select name="isActive" id="isActive" class="form-control">
                                    <option value="">-- Select --</option>
                                    <option value="true">Active</option>
                                    <option value="false">In-Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default btn-success" />
                                <a class="btn btn-sm btn-warning" href="/employee/">Cancel</a>
                            </div>
                        </div>
                    </div>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript">
    function ValidateEmployeeCreate()
    {
        let salary = document.getElementById("Salary").value;
        let isActive = document.getElementById("isActive").value;
        //is not a number
        if (isNaN(salary)) {
            alert("Invalid Salary.");
            return false;
        }
        else if (isActive === "")
        {
            alert("isActive is required");
            return false;

        }

        return true;
    }
</script>