@model IEnumerable<EFPeopleBotTrust.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Transaction</h3>
        <div class="panel-tool"> <a class="btn btn-info btn-sm" href="/Transaction/create">Create</a></div>
    </div>
    <div class="panel-body">
        <table id="Transaction" class="table table-bordered table-hover">
            <tr>
                <th>
                    Amount
                </th>
                <th>
                    Description
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntryType)
                </th>
                <th>
                    Account Name
                </th>
                <th>
                    Transaction Type
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(item.Amount)
                    </td>
                    <td>
                        @(item.Description)
                    </td>
                    <td>
                        @(item.EntryType)
                    </td>
                    <td>
                        @(item.Account.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionType.Name)
                    </td>
                    <td>
                        <a class="btn btn-xs btn-warning" href="/Transaction/Edit/@item.Id" title="Edit Record"><i class="glyphicon glyphicon-pencil"></i></a>
                        <button type="button" title="View Detail" class="btn btn-xs btn-info show-detail" data-url="/Transaction/Details/@(item.Id)"><i class="glyphicon glyphicon-eye-open"></i></button>
                        <button type="button" title="Delete Record" class="btn btn-xs btn-danger delete-row" data-url="/Transaction/Delete/@(item.Id)"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>

                </tr>
            }

        </table>
    </div>
</div>

<div class="modal fade" id="Transaction-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Loading...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-primary" href="/Transaction/edit/">Edit</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $(".show-detail").click(function () {
                //$(".show-detail").on("click", function () {
                //$(document).on("click", ".show-detail", function () {
                let $this = $(this);
                let url = $this.attr("data-url");

                $.ajax({
                    method: "get",
                    url: url,
                    dataType: "json", //"json" or "html" or...
                    success: function (response) {

                        let text = `<div class="">
                                                      <dl class="dl-horizontal">
                                                        <dt> Transaction Amount</dt>
                                                        <dd>${response.Data.Amount}</dd>

                                                        <dt>Description</dt>
                                                         <dd>${response.Data.Description}</dd>

                                                        <dt>Entry Type</dt>
                                                         <dd>${response.Data.EntryType}</dd>

                                                         <dt>Transaction Type</dt>
                                                         <dd>${response.Data.TransactionType}</dd>

                                                      </dl>
                                                </div>`;

                        $("#Transaction-detail").modal();
                        $('#Transaction-detail').on('shown.bs.modal', function (event) {
                            var modal = $(this)
                            modal.find('.modal-title').text('Transaction Detail');
                            modal.find('.modal-body').html(text);
                        })
                    },
                    error: function () {
                        alert('error')
                    }
                });
            });
        });
    </script>
}