@model Peepalbot.Models.CustomerModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add New Customer</h3>

    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <hr />

            @{ 
                Html.EnableClientValidation(true);
                Html.BeginForm();

                @Html.ValidationSummary(true, "", new { @class = "text-danger" });

                @Html.AntiForgeryToken()

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label col-md-4">First Name</label>
                <div class="col-md-8">
                    <input type="text" name="First Name" value="" placeholder="First Name" class="form-control" data_val="true" data_rule_required="true" />
                    @Html.ValidationMessageFor(model => model.CustomerDetails.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Middle Name</label>
                <div class="col-md-8">
                    <input type="text" name="LastName" value="" placeholder="Middle Name" class="form-control" />
                    @Html.ValidationMessageFor(model => model.CustomerDetails.MiddleName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Last Name</label>
                <div class="col-md-8">
                    <input type="text" name="LastName" value="" placeholder="last Name" class="form-control" , data_val="true" , data_rule_required="true" />
                    @Html.ValidationMessageFor(model => model.CustomerDetails.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Description</label>
                <div class="col-md-8">
                    <input type="text" name="Description" value="" class="form-control" placeholder="Decription on Customer" />
                    @Html.ValidationMessageFor(model => model.CustomerDetails.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Street Address</label>
                <div class="col-md-8">
                    <input type="text" name="Address" value="" class="form-control" placeholder="Street Name" />
                    @Html.ValidationMessageFor(model => model.CustomerDetails.Address1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Apt/Suite No</label>
                <div class="col-md-8">
                    <input type="text" name="Address" value="" class="form-control" placeholder="Apt or Floor No." />
                    @Html.ValidationMessageFor(model => model.CustomerDetails.Address2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">City</label>
                <div class="col-md-8">
                    <input type="text" name="City" value="" class="form-control" placeholder=" City Name" />
                    @Html.ValidationMessageFor(model => model.CustomerDetails.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">ZipCode</label>
                <div class="col-md-8">
                    <input type="text" name="ZipCode" value="" class="form-control" placeholder ="ZipCode" />
                    @Html.ValidationMessageFor(model => model.CustomerDetails.ZipCode, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4">Phone Number</label>
                <div class="col-md-8">
                    <input type="text" name="Phone" value="" class="form-control" placeholder ="Phone Number" />
                    @Html.ValidationMessageFor(model => model.CustomerDetails.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Customer's Status</label>
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.CustomerDetails.Status)
                        @Html.ValidationMessageFor(model => model.CustomerDetails.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

                <div class="col-lg-6">

                    <div class="form-group">
                        <label class="control-label col-md-4" for="EnableAccountInfo">Enable Account Info</label>
                        <div class="col-md-8">
                            <input type="checkbox" name="EnableAccountInfo" id="EnableAccountInfo" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Account Type</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.AccountDetails.AccountTypeId, Model.AccountTypeSelectList, "---select---" , new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.AccountDetails.AccountTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="AccountName" class="control-label col-md-4">Account Number</label>
                        <div class="col-md-8">
                            <input type="text" name="AccountNumber" value="" placeholder="Account Number" class="form-control" disabled="disabled" />
                            @Html.ValidationMessageFor(model => model.AccountDetails.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Save" class="btn btn-sm btn-success" />
                        <a href="/Customer/" class="btn btn-sm btn-warning">Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
    @section scripts
{
        <script>
            $(document).ready(function () {

                $("#EnableAccountInfo").on("change", function () {
                    $this = $(this);
                    if ($this.is(":checked")) {
                        $("input[name^='AccountDetails.'], select[name^='AccountDetails.'] ").removeAttr("disabled");
                    } else {
                        $("input[name^='AccountDetails.'], select[name^='AccountDetails.']").attr("disabled", "disabled");
                    }
                });

            });
        </script>

        }
