@model Peepalbot.Models.CustomerModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-heading">
        <h3 class="card-title" >Customer</h3>
        <div class="card-tool"> <a class="btn btn btn-sm btn-primary" href="/Customer/create">Create</a> </div>
    </div>
    <div class="card-body">
        <div class="form-horizontal">
         <hr />
            <table id="Customer" class="table table-bordered table-striped">
                <tr>
                    <th>
                        FirstName
                    </th>
                    <th>
                        MiddleName
                    </th>
                    <th>
                        LastName
                    </th>

                    <th>
                        Street Address
                    </th>

                    <th>
                        City
                    </th>

                    <th>
                        Zip Code
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.CustomerList)
                {
                    <tr>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.MiddleName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.Address1
                        </td>
                        <td>
                            @item.City
                        </td>
                        <td>
                            @item.ZipCode
                        </td>
                        <td>
                            @item.Phone
                        </td>
                        <td>
                            <a class="btn btn-xs btn-warning" href="/Customer/Edit/@item.Id" title="Edit Record"><i class="glyphicon glyphicon-pencil"></i></a>
                            <button type="button" title="View Detail" class="btn btn-xs btn-primary show-detail" data-url="/Customer/Details/@(item.Id)"><i class="glyphicon glyphicon-eye-open"></i></button>
                            <button type="button" title="Delete Record" class="btn btn-xs btn-danger delete-row" data-url="/Customer/Delete/@(item.Id)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>


<div class="modal fade" id="Customer-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title bg-primary">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Loading...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-sm btn-primary" href="/Customer/">Edit</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts
{
    <script type="text/javascript">



        $(document).ready(function () {

            $(".show-detail").click(function (event) {
                let $this = $(this);
                let url = $this.attr("data-url");


                $.ajax({
                    method: "get",
                    url: url,
                    dataType: "json", //"json" or "html" or...
                    success: function (response) {


                        let text = `<div class="">
                                            <dl class="dl-horizontal">
                                            <dt>FirstName</dt>
                                                <dd>${response.Data.FirstName}</dd>

                                            <dt>LastName</dt>
                                                <dd>${response.Data.LastName}</dd>

                                            <dt>Address1</dt>
                                                <dd>${response.Data.Address1}</dd>

                                            <dt>City</dt>
                                                <dd>${response.Data.City}</dd>

                                            <dt>Phone</dt>
                                                <dd>${response.Data.Phone}</dd>

                                            <dt>ZipCode</dt>
                                                <dd>${response.Data.ZipCode}</dd>
                                            </dl>

                                    </div>`;

                        $("#Customer-detail").modal();
                        $('#Customer-detail').on('shown.bs.modal', function (event) {
                            var modal = $(this)
                            modal.find('.modal-title').text('Customer Detail');
                            modal.find('.modal-body').html(text);
                            modal.find('.modal-footer a').attr("href", "/customer/edit/" + response.Data.Id);
                            //modal.find('.modal-footer').children("a").attr("href", "/customer/edit/" + response.Data.Id)
                            //$("#modal-edit-link").attr("href", "/customer/edit/"+response.Data.Id)
                        })
                    },
                    error: function () {
                        alert('error')
                    }
                });
            });
        });
    </script>
}