@model PeopleBotTrust.Models.CustomerDocumentModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Edit CustomerDetails</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "CustomerDocument", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CustomerDocument.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerDocument.DocumentContent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="DocumentContent" id="DocumentContent" class="form-controlll" />
                        @Html.ValidationMessageFor(model => model.CustomerDocument.DocumentContent, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerDocument.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.CustomerDocument.CustomerId, Model.CustomerSelectList, " -- select --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CustomerDocument.CustomerId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerDocument.DocumentType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.CustomerDocument.DocumentTypeId, Model.DocumentTypeSelectList, "--select--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CustomerDocument.DocumentTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Save" class="btn btn-sm btn-success" />
                        <a href="/Position/Index/" class="btn btn-sm btn-warning">Cancel</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>